h2 {
color: salmon;
text-decoration: underline;

}
h1 {
    color: blueviolet;
    text-decoration-line: underline;
    text-align: center;
}
#fotoperetti{
text-align: center;
}
.textonormal {
    color: gray;
}


